.dialogs {
    width: 100%;
}


.dialogs__title {
    margin-bottom: 20px;
}

.dialogs__inner {
    display: flex;
}

.dialogs__items {
    flex: 0 1 300px;
    position: relative;
}

.dialogs__items::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: black;
}

.dialogs__user_name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.dialogs__user_name img {
    width: 50px;
    margin-right: 20px;
}

.dialogs__user_link {
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.5s;
}


.dialogs__items_message {
    margin-left: 20px;
}

.active {
    color: orange;
    font-weight: 600;
}


.dialogs__descr {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.dialogs__descr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
